.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

:host {
  display: block;
}

.invalid-feedback {
  display: block;
}

.form-control.ng-invalid.ng-touched {
  border-color: var(--tblr-danger);
}

.form-select.ng-invalid.ng-touched {
  border-color: var(--tblr-danger);
}
