<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="invoice">
      <h2 data-cy="invoiceDetailsHeading"><span jhiTranslate="konsolCoreApp.invoice.detail.title">Invoice</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="konsolCoreApp.invoice.pk">Pk</span></dt>
        <dd>
          <span>{{ invoice.pk }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.id">Id</span></dt>
        <dd>
          <span>{{ invoice.id }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.kind">Kind</span></dt>
        <dd>
          <span jhiTranslate="{{ 'konsolCoreApp.InvoiceKind.' + invoice.kind }}">{{ invoice.kind }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.totalCost">Total Cost</span></dt>
        <dd>
          <span>{{ invoice.totalCost }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.totalPrice">Total Price</span></dt>
        <dd>
          <span>{{ invoice.totalPrice }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.discountPer">Discount Per</span></dt>
        <dd>
          <span>{{ invoice.discountPer }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.discount">Discount</span></dt>
        <dd>
          <span>{{ invoice.discount }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.additions">Additions</span></dt>
        <dd>
          <span>{{ invoice.additions }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.additionsType">Additions Type</span></dt>
        <dd>
          <span>{{ invoice.additionsType }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.netCost">Net Cost</span></dt>
        <dd>
          <span>{{ invoice.netCost }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.netPrice">Net Price</span></dt>
        <dd>
          <span>{{ invoice.netPrice }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.expenses">Expenses</span></dt>
        <dd>
          <span>{{ invoice.expenses }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.expensesType">Expenses Type</span></dt>
        <dd>
          <span>{{ invoice.expensesType }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.bank">Bank</span></dt>
        <dd>
          <div *ngIf="invoice.bank">
            <a [routerLink]="['/bank', invoice.bank.id, 'view']">{{ invoice.bank.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.item">Item</span></dt>
        <dd>
          <div *ngIf="invoice.item">
            <a [routerLink]="['/item', invoice.item.id, 'view']">{{ invoice.item.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.account">Account</span></dt>
        <dd>
          <div *ngIf="invoice.account">
            <a [routerLink]="['/account-user', invoice.account.id, 'view']">{{ invoice.account.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoice.invoiceItems">Invoice Items</span></dt>
        <dd>
          <span *ngFor="let invoiceItems of invoice.invoiceItems; let last = last">
            <a [routerLink]="['/invoice-item', invoiceItems.id, 'view']">{{ invoiceItems.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/invoice', invoice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
