<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-invoice-item-heading"
        data-cy="InvoiceItemCreateUpdateHeading"
        jhiTranslate="konsolCoreApp.invoiceItem.home.createOrEditLabel"
      >
        Create or edit a Invoice Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.pk" for="field_pk">Pk</label>
          <input type="text" class="form-control" name="pk" id="field_pk" data-cy="pk" formControlName="pk" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.unit" for="field_unit">Unit</label>
          <input type="text" class="form-control" name="unit" id="field_unit" data-cy="unit" formControlName="unit" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.unitPieces" for="field_unitPieces">Unit Pieces</label>
          <input
            type="number"
            class="form-control"
            name="unitPieces"
            id="field_unitPieces"
            data-cy="unitPieces"
            formControlName="unitPieces"
          />
          <div *ngIf="editForm.get('unitPieces')!.invalid && (editForm.get('unitPieces')!.dirty || editForm.get('unitPieces')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('unitPieces')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('unitPieces')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.userQty" for="field_userQty">User Qty</label>
          <input type="number" class="form-control" name="userQty" id="field_userQty" data-cy="userQty" formControlName="userQty" />
          <div *ngIf="editForm.get('userQty')!.invalid && (editForm.get('userQty')!.dirty || editForm.get('userQty')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('userQty')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('userQty')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.unitQtyIn" for="field_unitQtyIn">Unit Qty In</label>
          <input type="number" class="form-control" name="unitQtyIn" id="field_unitQtyIn" data-cy="unitQtyIn" formControlName="unitQtyIn" />
          <div *ngIf="editForm.get('unitQtyIn')!.invalid && (editForm.get('unitQtyIn')!.dirty || editForm.get('unitQtyIn')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('unitQtyIn')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('unitQtyIn')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.unitQtyOut" for="field_unitQtyOut">Unit Qty Out</label>
          <input
            type="number"
            class="form-control"
            name="unitQtyOut"
            id="field_unitQtyOut"
            data-cy="unitQtyOut"
            formControlName="unitQtyOut"
          />
          <div *ngIf="editForm.get('unitQtyOut')!.invalid && (editForm.get('unitQtyOut')!.dirty || editForm.get('unitQtyOut')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('unitQtyOut')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('unitQtyOut')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.unitCost" for="field_unitCost">Unit Cost</label>
          <input type="number" class="form-control" name="unitCost" id="field_unitCost" data-cy="unitCost" formControlName="unitCost" />
          <div *ngIf="editForm.get('unitCost')!.invalid && (editForm.get('unitCost')!.dirty || editForm.get('unitCost')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('unitCost')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('unitCost')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.unitPrice" for="field_unitPrice">Unit Price</label>
          <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
          <div *ngIf="editForm.get('unitPrice')!.invalid && (editForm.get('unitPrice')!.dirty || editForm.get('unitPrice')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('unitPrice')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('unitPrice')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.discountPer" for="field_discountPer">Discount Per</label>
          <input
            type="number"
            class="form-control"
            name="discountPer"
            id="field_discountPer"
            data-cy="discountPer"
            formControlName="discountPer"
          />
          <div *ngIf="editForm.get('discountPer')!.invalid && (editForm.get('discountPer')!.dirty || editForm.get('discountPer')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('discountPer')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('discountPer')?.errors?.max"
              jhiTranslate="entity.validation.max"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be more than 100.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('discountPer')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.discount" for="field_discount">Discount</label>
          <input type="number" class="form-control" name="discount" id="field_discount" data-cy="discount" formControlName="discount" />
          <div *ngIf="editForm.get('discount')!.invalid && (editForm.get('discount')!.dirty || editForm.get('discount')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('discount')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('discount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.totalCost" for="field_totalCost">Total Cost</label>
          <input type="number" class="form-control" name="totalCost" id="field_totalCost" data-cy="totalCost" formControlName="totalCost" />
          <div *ngIf="editForm.get('totalCost')!.invalid && (editForm.get('totalCost')!.dirty || editForm.get('totalCost')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('totalCost')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalCost')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.totalPrice" for="field_totalPrice">Total Price</label>
          <input
            type="number"
            class="form-control"
            name="totalPrice"
            id="field_totalPrice"
            data-cy="totalPrice"
            formControlName="totalPrice"
          />
          <div *ngIf="editForm.get('totalPrice')!.invalid && (editForm.get('totalPrice')!.dirty || editForm.get('totalPrice')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('totalPrice')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalPrice')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.qtyIn" for="field_qtyIn">Qty In</label>
          <input type="number" class="form-control" name="qtyIn" id="field_qtyIn" data-cy="qtyIn" formControlName="qtyIn" />
          <div *ngIf="editForm.get('qtyIn')!.invalid && (editForm.get('qtyIn')!.dirty || editForm.get('qtyIn')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('qtyIn')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('qtyIn')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.qtyOut" for="field_qtyOut">Qty Out</label>
          <input type="number" class="form-control" name="qtyOut" id="field_qtyOut" data-cy="qtyOut" formControlName="qtyOut" />
          <div *ngIf="editForm.get('qtyOut')!.invalid && (editForm.get('qtyOut')!.dirty || editForm.get('qtyOut')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('qtyOut')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('qtyOut')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.cost" for="field_cost">Cost</label>
          <input type="number" class="form-control" name="cost" id="field_cost" data-cy="cost" formControlName="cost" />
          <div *ngIf="editForm.get('cost')!.invalid && (editForm.get('cost')!.dirty || editForm.get('cost')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('cost')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('cost')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('price')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.netCost" for="field_netCost">Net Cost</label>
          <input type="number" class="form-control" name="netCost" id="field_netCost" data-cy="netCost" formControlName="netCost" />
          <div *ngIf="editForm.get('netCost')!.invalid && (editForm.get('netCost')!.dirty || editForm.get('netCost')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('netCost')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('netCost')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="konsolCoreApp.invoiceItem.netPrice" for="field_netPrice">Net Price</label>
          <input type="number" class="form-control" name="netPrice" id="field_netPrice" data-cy="netPrice" formControlName="netPrice" />
          <div *ngIf="editForm.get('netPrice')!.invalid && (editForm.get('netPrice')!.dirty || editForm.get('netPrice')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('netPrice')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('netPrice')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
