<div class="data-table-container">
  <!-- Search Bar and Export Button -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="flex-grow-1" *ngIf="showSearch">
      <div class="input-icon">
        <span class="input-icon-addon">
          <i class="ti ti-search"></i>
        </span>
        <input
          type="text"
          class="form-control"
          [placeholder]="'dataTable.search' | translate"
          [(ngModel)]="searchText"
          (ngModelChange)="onSearch($event)"
        />
      </div>
    </div>
    <div class="ms-3">
      <div class="btn-group">
        <button class="btn btn-outline-primary" (click)="exportToPDF()" [title]="'global.dataTable.exportPDF' | translate">
          <i class="fa fa-file-pdf me-1"></i>
          PDF
        </button>
        <button class="btn btn-outline-success" (click)="exportToExcel()" [title]="'global.dataTable.exportExcel' | translate">
          <i class="fa fa-file-excel me-1"></i>
          Excel
        </button>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-vcenter table-hover">
      <thead>
        <tr>
          <th *ngFor="let col of columns" [ngStyle]="{ width: col.width }" [class.sortable]="col.sortable" (click)="onSort(col)">
            {{ col.header | translate }}
            <i *ngIf="col.sortable" class="ti ti-arrows-sort ms-1"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filteredData" (click)="onRowClick(row)" class="cursor-pointer hover">
          <td *ngFor="let col of columns">
            <!-- Different cell types -->
            <ng-container [ngSwitch]="col.type">
              <!-- Actions Column -->
              <ng-container *ngSwitchCase="'actions'">
                <div class="btn-list justify-content-center">
                  <button
                    class="btn btn-icon btn-sm btn-ghost-primary"
                    (click)="onEditClick(row)"
                    [title]="'dataTable.actions.edit' | translate"
                  >
                    <i class="ti ti-edit"></i>
                  </button>
                  <button
                    class="btn btn-icon btn-sm btn-ghost-danger"
                    (click)="onDeleteClick(row)"
                    [title]="'dataTable.actions.delete' | translate"
                  >
                    <i class="ti ti-trash"></i>
                  </button>
                </div>
              </ng-container>

              <!-- Editable Number -->
              <ng-container *ngSwitchCase="'number'">
                <input
                  *ngIf="col.editable"
                  type="number"
                  class="form-control form-control-sm"
                  [ngModel]="row[col.field]"
                  (ngModelChange)="onValueChange(row, col.field, $event)"
                />
                <span *ngIf="!col.editable">{{ formatCellValue(row[col.field], col) }}</span>
              </ng-container>

              <!-- Currency -->
              <ng-container *ngSwitchCase="'currency'">
                <span>{{ formatCellValue(row[col.field], col) }}</span>
              </ng-container>

              <!-- Default Text -->
              <ng-container *ngSwitchDefault>
                {{ formatCellValue(row[col.field], col) }}
              </ng-container>

              <ng-container *ngSwitchCase="'template'">
                <ng-container *ngTemplateOutlet="getTemplateRef(col.templateRef); context: { $implicit: row[col.field], row: row }">
                </ng-container>
              </ng-container>
            </ng-container>
          </td>
        </tr>

        <!-- Empty State -->
        <tr *ngIf="filteredData.length === 0">
          <td [attr.colspan]="columns.length" class="text-center py-5">
            <div class="empty">
              <div class="empty-icon">
                <i class="ti ti-database-off text-muted" style="font-size: 2rem"></i>
              </div>
              <p class="empty-title">{{ emptyMessage }}</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-between align-items-center mt-3" *ngIf="showPagination">
    <div class="text-muted">
      {{ 'dataTable.pagination.showing' | translate }} {{ currentPage * pageSize + 1 }} {{ 'dataTable.pagination.to' | translate }}
      {{ Math.min((currentPage + 1) * pageSize, totalItems) }} {{ 'dataTable.pagination.of' | translate }} {{ totalItems }}
    </div>
    <div class="d-flex align-items-center gap-2">
      <select class="form-select" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange($event)">
        <option *ngFor="let size of pageSizeOptions" [value]="size">
          {{ size }} {{ 'dataTable.pagination.itemsPerPage' | translate }}
        </option>
      </select>
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="onPageNumberChange($event)"
        class="mb-0"
      >
        <ng-template ngbPaginationPrevious><i class="ti ti-chevron-right"></i></ng-template>
        <ng-template ngbPaginationNext><i class="ti ti-chevron-left"></i></ng-template>
        <ng-template ngbPaginationFirst><i class="ti ti-chevrons-right"></i></ng-template>
        <ng-template ngbPaginationLast><i class="ti ti-chevrons-left"></i></ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>
