<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (playstationContainer(); as playstationContainerRef) {
    <div>
      <h2 data-cy="playstationContainerDetailsHeading">
        <span jhiTranslate="konsolCoreApp.playstationContainer.detail.title">Playstation Container</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="konsolCoreApp.playstationContainer.id">Id</span></dt>
        <dd>
          <span>{{ playstationContainerRef.id }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.playstationContainer.name">Name</span></dt>
        <dd>
          <span>{{ playstationContainerRef.name }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.playstationContainer.category">Category</span></dt>
        <dd>
          <span>{{ playstationContainerRef.category }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.playstationContainer.defaultIcon">Default Icon</span></dt>
        <dd>
          <span>{{ playstationContainerRef.defaultIcon }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.playstationContainer.hasTimeManagement">Has Time Management</span></dt>
        <dd>
          <span>{{ playstationContainerRef.hasTimeManagement }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.playstationContainer.showType">Show Type</span></dt>
        <dd>
          <span>{{ playstationContainerRef.showType }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.playstationContainer.showTime">Show Time</span></dt>
        <dd>
          <span>{{ playstationContainerRef.showTime }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.playstationContainer.canMoveDevice">Can Move Device</span></dt>
        <dd>
          <span>{{ playstationContainerRef.canMoveDevice }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.playstationContainer.canHaveMultiTimeManagement">Can Have Multi Time Management</span></dt>
        <dd>
          <span>{{ playstationContainerRef.canHaveMultiTimeManagement }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.playstationContainer.acceptedOrderCategories">Accepted Order Categories</span></dt>
        <dd>
          <span>{{ playstationContainerRef.acceptedOrderCategories }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.playstationContainer.orderSelectedPriceCategory">Order Selected Price Category</span></dt>
        <dd>
          <span>{{ playstationContainerRef.orderSelectedPriceCategory }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/playstation-container', playstationContainerRef.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
    }
  </div>
</div>
