<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-playstation-device-heading" data-cy="PlaystationDeviceCreateUpdateHeading">
        {{ (device?.id ? 'playstation.devices.update.title.edit' : 'playstation.devices.update.title.create') | translate }}
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value">
          <label class="form-label" for="field_id">{{ 'playstation.devices.update.form.id.label' | translate }}</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name">{{ 'playstation.devices.update.form.name.label' | translate }}</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required">
              {{ 'playstation.devices.update.form.name.required' | translate }}
            </small>
          </div>
        </div>

        <!--  
        <div class="mb-3">
          <label class="form-label" for="field_category">category</label>
          <input type="text" class="form-control" name="category" id="field_category" data-cy="category" formControlName="category" />
          <div *ngIf="editForm.get('category')?.invalid && (editForm.get('category')?.dirty || editForm.get('category')?.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('category')?.errors?.required">
              {{ 'playstation.devices.update.form.name.required' | translate }}
            </small>
          </div>
        </div> -->

        <div class="mb-3">
          <label class="form-label" for="field_type">{{ 'playstation.devices.update.form.type.label' | translate }}</label>
          <select class="form-control" id="field_type" data-cy="type" formControlName="type">
            <option [ngValue]="null">{{ 'playstation.devices.update.form.type.placeholder' | translate }}</option>
            <option *ngFor="let type of deviceTypes" [ngValue]="type">{{ type.name }} - {{ type.price | currencyK }}</option>
          </select>
          <div *ngIf="editForm.get('type')?.invalid && (editForm.get('type')?.dirty || editForm.get('type')?.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required">
              {{ 'playstation.devices.update.form.type.required' | translate }}
            </small>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_active">{{ 'playstation.devices.update.form.active.label' | translate }}</label>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="active"
              id="field_active"
              data-cy="active"
              [value]="true"
              (change)="onActiveChange($event)"
              [checked]="editForm.get('active')?.value === true"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_timeManagement">Has Time Management</label>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="timeManagement"
              id="field_timeManagement"
              data-cy="timeManagement"
              [value]="true"
              (change)="onTimeManagemnetChange($event)"
              [checked]="editForm.get('timeManagement')?.value === true"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>{{ 'playstation.devices.update.actions.cancel' | translate }}</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>{{ 'playstation.devices.update.actions.save' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
