<div>
  <h2 id="page-heading" data-cy="InvoiceHeading">
    <span jhiTranslate="konsolCoreApp.invoice.home.title">Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="konsolCoreApp.invoice.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-invoice"
        [routerLink]="['/invoice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="konsolCoreApp.invoice.home.createLabel"> Create a new Invoice </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="invoices?.length === 0">
    <span jhiTranslate="konsolCoreApp.invoice.home.notFound">No Invoices found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="invoices && invoices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="pk">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.pk">Pk</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kind">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.kind">Kind</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalCost">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.totalCost">Total Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalPrice">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.totalPrice">Total Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="discountPer">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.discountPer">Discount Per</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="discount">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.discount">Discount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="additions">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.additions">Additions</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="additionsType">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.additionsType">Additions Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="netCost">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.netCost">Net Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="netPrice">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.netPrice">Net Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="expenses">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.expenses">Expenses</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="expensesType">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.expensesType">Expenses Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bank.id">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.bank">Bank</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="item.id">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.item">Item</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="account.id">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.invoice.account">Account</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices; trackBy: trackId" data-cy="entityTable">
          <td>{{ invoice.pk }}</td>
          <td>
            <a [routerLink]="['/invoice', invoice.id, 'view']">{{ invoice.id }}</a>
          </td>
          <td jhiTranslate="{{ 'konsolCoreApp.InvoiceKind.' + invoice.kind }}">{{ invoice.kind }}</td>
          <td>{{ invoice.totalCost }}</td>
          <td>{{ invoice.totalPrice }}</td>
          <td>{{ invoice.discountPer }}</td>
          <td>{{ invoice.discount }}</td>
          <td>{{ invoice.additions }}</td>
          <td>{{ invoice.additionsType }}</td>
          <td>{{ invoice.netCost }}</td>
          <td>{{ invoice.netPrice }}</td>
          <td>{{ invoice.expenses }}</td>
          <td>{{ invoice.expensesType }}</td>
          <td>
            <div *ngIf="invoice.bank">
              <a [routerLink]="['/bank', invoice.bank.id, 'view']">{{ invoice.bank.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="invoice.item">
              <a [routerLink]="['/item', invoice.item.id, 'view']">{{ invoice.item.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="invoice.account">
              <a [routerLink]="['/account-user', invoice.account.id, 'view']">{{ invoice.account.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/invoice', invoice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/invoice', invoice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(invoice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="invoices && invoices.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
