<div class="">
  <div class="row text-center align-items-center flex-row-reverse">
    <div class="col-lg-auto ms-lg-auto">
      <ul class="list-inline list-inline-dots mb-0">
        <li class="list-inline-item">
          <a routerLink="/system-settings" href="javascript:void(0)" class="link-secondary" jhiTranslate="global.menu.license">License</a>
        </li>
        <li class="list-inline-item">
          <a href="mailto:adel50ali50@gmail.com" class="link-secondary" jhiTranslate="global.menu.support">Support</a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
      <ul class="list-inline list-inline-dots mb-0">
        <li class="list-inline-item">
          <span jhiTranslate="global.footer.copyright" [translateValues]="{ year: currentYear }">
            Copyright {{ currentYear }} <a href="." class="link-secondary">KonsolCore</a>. All rights reserved.
          </span>
        </li>
        <li class="list-inline-item"><span jhiTranslate="global.version">Version</span>&nbsp;{{ version }}</li>

        <!-- Licensed To  -->
        <li class="list-inline-item" *ngIf="license && license.clientId">
          <span jhiTranslate="global.footer.licensedTo" [translateValues]="{ client: license.clientId }">
            Licensed to {{ license.clientId }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
