<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (product(); as productRef) {
      <div>
        <h2 data-cy="productDetailsHeading"><span jhiTranslate="konsolCoreApp.product.detail.title">Product</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="konsolCoreApp.product.id">Id</span></dt>
          <dd>
            <span>{{ productRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="konsolCoreApp.product.productId">Product Id</span></dt>
          <dd>
            <span>{{ productRef.productId }}</span>
          </dd>
          <dt><span jhiTranslate="konsolCoreApp.product.defaultMainPrice">Default Main Price</span></dt>
          <dd>
            <span>{{ productRef.defaultMainPrice }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/product', productRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
