<div>
  <h2 id="page-heading" data-cy="AccountUserHeading">
    <span jhiTranslate="konsolCoreApp.accountUser.home.title">Account Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="konsolCoreApp.accountUser.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-account-user"
        [routerLink]="['/account-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="konsolCoreApp.accountUser.home.createLabel"> Create a new Account User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="accountUsers?.length === 0">
    <span jhiTranslate="konsolCoreApp.accountUser.home.notFound">No Account Users found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="accountUsers && accountUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.accountUser.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.accountUser.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kind">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.accountUser.kind">Kind</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="balanceIn">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.accountUser.balanceIn">Balance In</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="balanceOut">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.accountUser.balanceOut">Balance Out</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phone">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.accountUser.phone">Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.accountUser.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address2">
            <div class="d-flex">
              <span jhiTranslate="konsolCoreApp.accountUser.address2">Address 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let accountUser of accountUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/account-user', accountUser.id, 'view']">{{ accountUser.id }}</a>
          </td>
          <td>{{ accountUser.name }}</td>
          <td jhiTranslate="{{ 'konsolCoreApp.AccountKind.' + accountUser.kind }}">{{ accountUser.kind }}</td>
          <td>{{ accountUser.balanceIn }}</td>
          <td>{{ accountUser.balanceOut }}</td>
          <td>{{ accountUser.phone }}</td>
          <td>{{ accountUser.address }}</td>
          <td>{{ accountUser.address2 }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/account-user', accountUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/account-user', accountUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(accountUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="accountUsers && accountUsers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
