<!-- sales-invoices.component.html and purchase-invoices.component.html -->
<div class="table-responsive">
  <app-data-table
    [data]="invoices"
    [columns]="columns"
    [loading]="loading"
    [totalItems]="totalRecords"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [showSearch]="false"
    [showPagination]="true"
    [emptyMessage]="'invoices.messages.noData' | translate"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
    (search)="onSearch($event)"
    (rowClick)="onItemClick($event)"
  >
  </app-data-table>

  <!-- Invoice Items Table -->
  <div class="mt-4" *ngIf="selectedInvoice">
    <h3>{{ 'konsolCoreApp.invoice.invoiceItems' | translate }}</h3>
    <app-data-table
      [data]="invoiceItems"
      [columns]="itemColumns"
      [loading]="loading"
      [showSearch]="false"
      [showPagination]="false"
      [emptyMessage]="'invoices.messages.noItems' | translate"
    >
    </app-data-table>
  </div>
</div>
