<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sheft-heading" data-cy="SheftCreateUpdateHeading" jhiTranslate="konsolCoreApp.sheft.home.createOrEditLabel">
        Create or edit a Sheft
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) { @let idRef = editForm.get('id')!;
        <div class="mb-3">
          <label class="form-label" for="field_id" jhiTranslate="konsolCoreApp.sheft.id">Id</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          @if (idRef.invalid && (idRef.dirty || idRef.touched)) {
          <div>
            @if (editForm.get('id')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
          }
        </div>
        } @let startTimeRef = editForm.get('startTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_startTime" jhiTranslate="konsolCoreApp.sheft.startTime">Start Time</label>
          <div class="input-group">
            <input
              id="field_startTime"
              data-cy="startTime"
              type="text"
              class="form-control"
              name="startTime"
              ngbDatepicker
              #startTimeDp="ngbDatepicker"
              formControlName="startTime"
            />
            <button type="button" class="btn btn-secondary" (click)="startTimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (startTimeRef.invalid && (startTimeRef.dirty || startTimeRef.touched)) {
          <div>
            @if (editForm.get('startTime')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
          }
        </div>

        @let endTimeRef = editForm.get('endTime')!;
        <div class="mb-3">
          <label class="form-label" for="field_endTime" jhiTranslate="konsolCoreApp.sheft.endTime">End Time</label>
          <div class="input-group">
            <input
              id="field_endTime"
              data-cy="endTime"
              type="text"
              class="form-control"
              name="endTime"
              ngbDatepicker
              #endTimeDp="ngbDatepicker"
              formControlName="endTime"
            />
            <button type="button" class="btn btn-secondary" (click)="endTimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (endTimeRef.invalid && (endTimeRef.dirty || endTimeRef.touched)) {
          <div>
            @if (editForm.get('endTime')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
          }
        </div>

        @let activeRef = editForm.get('active')!;
        <div class="mb-3">
          <label class="form-label" for="field_active" jhiTranslate="konsolCoreApp.sheft.active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
          @if (activeRef.invalid && (activeRef.dirty || activeRef.touched)) {
          <div>
            @if (editForm.get('active')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
          }
        </div>

        @let assignedEmployeeRef = editForm.get('assignedEmployee')!;
        <div class="mb-3">
          <label class="form-label" for="field_assignedEmployee" jhiTranslate="konsolCoreApp.sheft.assignedEmployee"
            >Assigned Employee</label
          >
          <input
            type="text"
            class="form-control"
            name="assignedEmployee"
            id="field_assignedEmployee"
            data-cy="assignedEmployee"
            formControlName="assignedEmployee"
          />
          @if (assignedEmployeeRef.invalid && (assignedEmployeeRef.dirty || assignedEmployeeRef.touched)) {
          <div>
            @if (editForm.get('assignedEmployee')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
          }
        </div>

        @let durationRef = editForm.get('duration')!;
        <div class="mb-3">
          <label class="form-label" for="field_duration" jhiTranslate="konsolCoreApp.sheft.duration">Duration</label>
          <input type="text" class="form-control" name="duration" id="field_duration" data-cy="duration" formControlName="duration" />
          @if (durationRef.invalid && (durationRef.dirty || durationRef.touched)) {
          <div>
            @if (editForm.get('duration')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('duration')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let totalpriceRef = editForm.get('totalprice')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalprice" jhiTranslate="konsolCoreApp.sheft.totalprice">Totalprice</label>
          <input
            type="number"
            class="form-control"
            name="totalprice"
            id="field_totalprice"
            data-cy="totalprice"
            formControlName="totalprice"
          />
          @if (totalpriceRef.invalid && (totalpriceRef.dirty || totalpriceRef.touched)) {
          <div>
            @if (editForm.get('totalprice')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalprice')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let totalCostRef = editForm.get('totalCost')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalCost" jhiTranslate="konsolCoreApp.sheft.totalCost">Total Cost</label>
          <input type="number" class="form-control" name="totalCost" id="field_totalCost" data-cy="totalCost" formControlName="totalCost" />
          @if (totalCostRef.invalid && (totalCostRef.dirty || totalCostRef.touched)) {
          <div>
            @if (editForm.get('totalCost')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalCost')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let netPriceRef = editForm.get('netPrice')!;
        <div class="mb-3">
          <label class="form-label" for="field_netPrice" jhiTranslate="konsolCoreApp.sheft.netPrice">Net Price</label>
          <input type="number" class="form-control" name="netPrice" id="field_netPrice" data-cy="netPrice" formControlName="netPrice" />
          @if (netPriceRef.invalid && (netPriceRef.dirty || netPriceRef.touched)) {
          <div>
            @if (editForm.get('netPrice')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('netPrice')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let netCostRef = editForm.get('netCost')!;
        <div class="mb-3">
          <label class="form-label" for="field_netCost" jhiTranslate="konsolCoreApp.sheft.netCost">Net Cost</label>
          <input type="number" class="form-control" name="netCost" id="field_netCost" data-cy="netCost" formControlName="netCost" />
          @if (netCostRef.invalid && (netCostRef.dirty || netCostRef.touched)) {
          <div>
            @if (editForm.get('netCost')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small class="form-text text-danger" [hidden]="!editForm.get('netCost')?.errors?.number" jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let netUserPriceRef = editForm.get('netUserPrice')!;
        <div class="mb-3">
          <label class="form-label" for="field_netUserPrice" jhiTranslate="konsolCoreApp.sheft.netUserPrice">Net User Price</label>
          <input
            type="number"
            class="form-control"
            name="netUserPrice"
            id="field_netUserPrice"
            data-cy="netUserPrice"
            formControlName="netUserPrice"
          />
          @if (netUserPriceRef.invalid && (netUserPriceRef.dirty || netUserPriceRef.touched)) {
          <div>
            @if (editForm.get('netUserPrice')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('netUserPrice')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let totalItemsOutRef = editForm.get('totalItemsOut')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalItemsOut" jhiTranslate="konsolCoreApp.sheft.totalItemsOut">Total Items Out</label>
          <input
            type="number"
            class="form-control"
            name="totalItemsOut"
            id="field_totalItemsOut"
            data-cy="totalItemsOut"
            formControlName="totalItemsOut"
          />
          @if (totalItemsOutRef.invalid && (totalItemsOutRef.dirty || totalItemsOutRef.touched)) {
          <div>
            @if (editForm.get('totalItemsOut')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalItemsOut')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let discountRef = editForm.get('discount')!;
        <div class="mb-3">
          <label class="form-label" for="field_discount" jhiTranslate="konsolCoreApp.sheft.discount">Discount</label>
          <input type="number" class="form-control" name="discount" id="field_discount" data-cy="discount" formControlName="discount" />
          @if (discountRef.invalid && (discountRef.dirty || discountRef.touched)) {
          <div>
            @if (editForm.get('discount')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('discount')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let invoicesAdditionsRef = editForm.get('invoicesAdditions')!;
        <div class="mb-3">
          <label class="form-label" for="field_invoicesAdditions" jhiTranslate="konsolCoreApp.sheft.invoicesAdditions"
            >Invoices Additions</label
          >
          <input
            type="number"
            class="form-control"
            name="invoicesAdditions"
            id="field_invoicesAdditions"
            data-cy="invoicesAdditions"
            formControlName="invoicesAdditions"
          />
          @if (invoicesAdditionsRef.invalid && (invoicesAdditionsRef.dirty || invoicesAdditionsRef.touched)) {
          <div>
            @if (editForm.get('invoicesAdditions')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('invoicesAdditions')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let additionsRef = editForm.get('additions')!;
        <div class="mb-3">
          <label class="form-label" for="field_additions" jhiTranslate="konsolCoreApp.sheft.additions">Additions</label>
          <input type="number" class="form-control" name="additions" id="field_additions" data-cy="additions" formControlName="additions" />
          @if (additionsRef.invalid && (additionsRef.dirty || additionsRef.touched)) {
          <div>
            @if (editForm.get('additions')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('additions')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let additionsNotesRef = editForm.get('additionsNotes')!;
        <div class="mb-3">
          <label class="form-label" for="field_additionsNotes" jhiTranslate="konsolCoreApp.sheft.additionsNotes">Additions Notes</label>
          <input
            type="number"
            class="form-control"
            name="additionsNotes"
            id="field_additionsNotes"
            data-cy="additionsNotes"
            formControlName="additionsNotes"
          />
          @if (additionsNotesRef.invalid && (additionsNotesRef.dirty || additionsNotesRef.touched)) {
          <div>
            @if (editForm.get('additionsNotes')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('additionsNotes')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let invoicesExpensesRef = editForm.get('invoicesExpenses')!;
        <div class="mb-3">
          <label class="form-label" for="field_invoicesExpenses" jhiTranslate="konsolCoreApp.sheft.invoicesExpenses"
            >Invoices Expenses</label
          >
          <input
            type="number"
            class="form-control"
            name="invoicesExpenses"
            id="field_invoicesExpenses"
            data-cy="invoicesExpenses"
            formControlName="invoicesExpenses"
          />
          @if (invoicesExpensesRef.invalid && (invoicesExpensesRef.dirty || invoicesExpensesRef.touched)) {
          <div>
            @if (editForm.get('invoicesExpenses')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('invoicesExpenses')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let sheftExpensesRef = editForm.get('sheftExpenses')!;
        <div class="mb-3">
          <label class="form-label" for="field_sheftExpenses" jhiTranslate="konsolCoreApp.sheft.sheftExpenses">Sheft Expenses</label>
          <input
            type="number"
            class="form-control"
            name="sheftExpenses"
            id="field_sheftExpenses"
            data-cy="sheftExpenses"
            formControlName="sheftExpenses"
          />
          @if (sheftExpensesRef.invalid && (sheftExpensesRef.dirty || sheftExpensesRef.touched)) {
          <div>
            @if (editForm.get('sheftExpenses')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('sheftExpenses')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let totalinvoicesRef = editForm.get('totalinvoices')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalinvoices" jhiTranslate="konsolCoreApp.sheft.totalinvoices">Totalinvoices</label>
          <input
            type="number"
            class="form-control"
            name="totalinvoices"
            id="field_totalinvoices"
            data-cy="totalinvoices"
            formControlName="totalinvoices"
          />
          @if (totalinvoicesRef.invalid && (totalinvoicesRef.dirty || totalinvoicesRef.touched)) {
          <div>
            @if (editForm.get('totalinvoices')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalinvoices')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let totaldeletedItemsRef = editForm.get('totaldeletedItems')!;
        <div class="mb-3">
          <label class="form-label" for="field_totaldeletedItems" jhiTranslate="konsolCoreApp.sheft.totaldeletedItems"
            >Totaldeleted Items</label
          >
          <input
            type="number"
            class="form-control"
            name="totaldeletedItems"
            id="field_totaldeletedItems"
            data-cy="totaldeletedItems"
            formControlName="totaldeletedItems"
          />
          @if (totaldeletedItemsRef.invalid && (totaldeletedItemsRef.dirty || totaldeletedItemsRef.touched)) {
          <div>
            @if (editForm.get('totaldeletedItems')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totaldeletedItems')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        @let totaldeletedItemsPriceRef = editForm.get('totaldeletedItemsPrice')!;
        <div class="mb-3">
          <label class="form-label" for="field_totaldeletedItemsPrice" jhiTranslate="konsolCoreApp.sheft.totaldeletedItemsPrice"
            >Totaldeleted Items Price</label
          >
          <input
            type="number"
            class="form-control"
            name="totaldeletedItemsPrice"
            id="field_totaldeletedItemsPrice"
            data-cy="totaldeletedItemsPrice"
            formControlName="totaldeletedItemsPrice"
          />
          @if (totaldeletedItemsPriceRef.invalid && (totaldeletedItemsPriceRef.dirty || totaldeletedItemsPriceRef.touched)) {
          <div>
            @if (editForm.get('totaldeletedItemsPrice')?.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totaldeletedItemsPrice')?.errors?.number"
              jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="konsolCoreApp.sheft.notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
