<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="store">
      <h2 data-cy="storeDetailsHeading"><span jhiTranslate="konsolCoreApp.store.detail.title">Store</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="konsolCoreApp.store.id">Id</span></dt>
        <dd>
          <span>{{ store.id }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.store.name">Name</span></dt>
        <dd>
          <span>{{ store.name }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.store.items">Items</span></dt>
        <dd>
          <span *ngFor="let items of store.items; let last = last">
            <a [routerLink]="['/store-item', items.id, 'view']">{{ items.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/store', store.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
