<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="money">
      <h2 data-cy="moneyDetailsHeading"><span jhiTranslate="konsolCoreApp.money.detail.title">Money</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="konsolCoreApp.money.pk">Pk</span></dt>
        <dd>
          <span>{{ money.pk }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.money.id">Id</span></dt>
        <dd>
          <span>{{ money.id }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.money.kind">Kind</span></dt>
        <dd>
          <span jhiTranslate="{{ 'konsolCoreApp.MoneyKind.' + money.kind }}">{{ money.kind }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.money.moneyIn">Money In</span></dt>
        <dd>
          <span>{{ money.moneyIn }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.money.moneyOut">Money Out</span></dt>
        <dd>
          <span>{{ money.moneyOut }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.money.bank">Bank</span></dt>
        <dd>
          <div *ngIf="money.bank">
            <a [routerLink]="['/bank', money.bank.id, 'view']">{{ money.bank.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.money.item">Item</span></dt>
        <dd>
          <div *ngIf="money.item">
            <a [routerLink]="['/item', money.item.id, 'view']">{{ money.item.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.money.account">Account</span></dt>
        <dd>
          <div *ngIf="money.account">
            <a [routerLink]="['/account-user', money.account.id, 'view']">{{ money.account.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/money', money.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
