<div class="device-card" 
     [ngClass]="getBorderColor()" 
     (click)="onSelect()"
     (dblclick)="onDoubleClick($event)">
  <div class="device-card__header">
    <div class="room-info">
      <i class="fas fa-tv"></i>
      <span>{{ device.roomName }}</span>
    </div>
  </div>

  <div class="device-card__content">
    <div class="device-type">{{ device.deviceType }}</div>
    <div class="device-actions" *ngIf="device.status === 'in-use'">
      <button class="btn-icon settings">
        <i class="fas fa-cog"></i>
      </button>
    </div>
  </div>

  <div class="device-card__footer">
    <ng-container *ngIf="device.status === 'maintenance'">
      <div class="status-badge">{{ getStatusText() }}</div>
    </ng-container>
    <ng-container *ngIf="device.status === 'in-use'">
      <div class="session-info">
        <span class="duration">{{ device.duration }} m</span>
        <span class="cost">EGP {{ device.cost }}</span>
      </div>
    </ng-container>
  </div>
</div>
