<div class="device-card" 
     [ngClass]="getBorderColor()" 
     (click)="onSelect()"
     (dblclick)="onDoubleClick($event)">
  <div class="device-card__header">
    <div class="room-info">
      <i class="fas fa-tv"></i>
      <span>{{ device.name }}</span>
    </div>
  </div>

  <div class="device-card__content">
    <div class="device-type">{{ device.type?.name }}</div>
    <div class="device-actions" *ngIf="device.active">
      <button class="btn-icon settings">
        <i class="fas fa-cog"></i>
      </button>
    </div>
  </div>

  <div class="device-card__footer">
    <ng-container *ngIf="!device.active">
      <div class="status-badge">status</div>
    </ng-container>
    <ng-container *ngIf="device.active">
      <div class="session-info" *ngIf="device.session">
        <span class="duration">
          <span class="session-duration">{{ sessionDuration }}</span>
        </span>
        <span class="cost">EGP {{ calculateSessionCost() }}</span>
      </div>
    </ng-container>
  </div>
</div>
