<div class="page">
  <!-- Navbar -->
  <header class="">
    <div style="width: -webkit-fill-available" class="">
      <router-outlet name="navbar"></router-outlet>
    </div>
  </header>

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-fixed">
        <div class="row g-2 align-items-center">
          <div class="col">
            <!-- Page title will go here if needed -->
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <router-outlet></router-outlet>
    </div>

    <!-- Page footer -->
    <footer class="footer" style="padding: 0px !important">
      <div class="container-xl">
        <jhi-footer></jhi-footer>
      </div>
    </footer>
  </div>
</div>
