<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="item">
      <h2 data-cy="itemDetailsHeading"><span jhiTranslate="konsolCoreApp.item.detail.title">Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="konsolCoreApp.item.id">Id</span></dt>
        <dd>
          <span>{{ item.id }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.item.name">Name</span></dt>
        <dd>
          <span>{{ item.name }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.item.barcode">Barcode</span></dt>
        <dd>
          <span>{{ item.barcode }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.item.price1">Price 1</span></dt>
        <dd>
          <span>{{ item.price1 }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.item.price2">Price 2</span></dt>
        <dd>
          <span>{{ item.price2 }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.item.price3">Price 3</span></dt>
        <dd>
          <span>{{ item.price3 }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.item.category">Category</span></dt>
        <dd>
          <span>{{ item.category }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.item.qty">Qty</span></dt>
        <dd>
          <span>{{ item.qty }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.item.cost">Cost</span></dt>
        <dd>
          <span>{{ item.cost }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.item.index">Index</span></dt>
        <dd>
          <span>{{ item.index }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.item.itemUnits">Item Units</span></dt>
        <dd>
          <span *ngFor="let itemUnits of item.itemUnits; let last = last">
            <a [routerLink]="['/item-unit', itemUnits.id, 'view']">{{ itemUnits.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/item', item.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
