<div class="dashboard-container">
  <div class="row">
    <div class="col-md-8">
      <ng-container *ngIf="!checkoutMode; else checkoutTemplate">
        <jhi-device-list></jhi-device-list>
      </ng-container>
      <ng-template #checkoutTemplate>
        <jhi-checkout (cancelCheckout)="checkoutMode = false"></jhi-checkout>
      </ng-template>
    </div>

    <div class="col-md-4">
      <jhi-device-details></jhi-device-details>
    </div>
  </div>
  <jhi-orders-slider></jhi-orders-slider>
</div>
