<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (priceOption(); as priceOptionRef) {
      <div>
        <h2 data-cy="priceOptionDetailsHeading"><span jhiTranslate="konsolCoreApp.priceOption.detail.title">Price Option</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ priceOptionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="konsolCoreApp.priceOption.name">Name</span></dt>
          <dd>
            <span>{{ priceOptionRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="konsolCoreApp.priceOption.value">Value</span></dt>
          <dd>
            <span>{{ priceOptionRef.value }}</span>
          </dd>
          <dt><span jhiTranslate="konsolCoreApp.priceOption.productId">Product Id</span></dt>
          <dd>
            <span>{{ priceOptionRef.productId }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/price-option', priceOptionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
