<nav data-cy="navbar" class="navbar navbar-expand-md navbar-light">
  <div class="container-xl">
    <!-- Brand section -->
    <div class="navbar-brand-wrapper">
      <a class="navbar-brand d-flex align-items-center" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img me-2"></span>
        <span jhiTranslate="global.title" class="navbar-title">KonsolCore</span>
      </a>
    </div>

    <!-- Mobile menu button -->
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div
      class="navbar-collapse collapse justify-content-end"
      id="navbarResponsive"
      [ngbCollapse]="isNavbarCollapsed"
      [ngSwitch]="account !== null"
    >
      <ul class="navbar-nav align-items-center">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <fa-icon [icon]="faGamepad" class="me-1"></fa-icon>
            <span jhiTranslate="global.menu.home">Home</span>
          </a>
        </li>
        <!-- Playstation -->
        <li class="nav-item dropdown pointer" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="playstation-menu">
            <span>
              <fa-icon [icon]="faGamepad"></fa-icon>
              <span jhiTranslate="global.menu.playstation.main">PlayStation</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="playstation-menu">
            <!-- Navigation -->
            <li>
              <a
                class="dropdown-item"
                routerLink="playstation"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon [icon]="faCompass" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.playstation.navigation">Navigation</span>
              </a>
            </li>

            <!-- Dashboard -->
            <li>
              <a
                class="dropdown-item"
                routerLink="playstation/dashboard"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon [icon]="faTachometerAlt" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.playstation.dashboard">Dashboard</span>
              </a>
            </li>

            <li class="dropdown-divider"></li>

            <!-- Devices -->
            <li>
              <a
                class="dropdown-item"
                routerLink="playstation/controls"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon [icon]="faGamepad" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.playstation.devices">Devices</span>
              </a>
            </li>

            <!-- Device Types -->
            <li>
              <a
                class="dropdown-item"
                routerLink="playstation/device-types"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon [icon]="faList" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.playstation.deviceTypes">Device Types</span>
              </a>
            </li>

            <li class="dropdown-divider"></li>

            <!-- Products -->
            <li>
              <a
                class="dropdown-item"
                routerLink="playstation/products"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon [icon]="faBox" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.playstation.products">Products</span>
              </a>
            </li>

            <!-- Sessions -->
            <li>
              <a
                class="dropdown-item"
                routerLink="playstation/sessions"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon [icon]="faClock" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.playstation.sessions">Sessions</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- Admin Menu -->
        <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item" display="dynamic">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="admin-menu" data-cy="adminMenu">
            <fa-icon [icon]="faUsersCog" class="me-1"></fa-icon>
            <span jhiTranslate="global.menu.admin.main">Administration</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon [icon]="faUsers" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon [icon]="faTachometerAlt" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon [icon]="faHeart" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.admin.health">Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon [icon]="faCogs" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon [icon]="faTasks" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.admin.logs">Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon [icon]="faBook" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.admin.apidocs">API</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- Language Menu -->
        <li ngbDropdown class="nav-item" display="dynamic" *ngIf="languages && languages.length > 1">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="languagesnavBarDropdown">
            <fa-icon [icon]="faFlag" class="me-1"></fa-icon>
            <span jhiTranslate="global.menu.language">Language</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
            <li *ngFor="let language of languages">
              <a
                class="dropdown-item d-flex align-items-center"
                [jhiActiveMenu]="language"
                href="javascript:void(0);"
                (click)="changeLanguage(language); collapseNavbar()"
              >
                <fa-icon *ngIf="language === 'en'" [icon]="faFlagUsa" [fixedWidth]="true" class="me-2"></fa-icon>
                <fa-icon *ngIf="language === 'ar-ly'" [icon]="faFlag" [fixedWidth]="true" class="me-2"></fa-icon>
                {{ language | findLanguageFromKey }}
              </a>
            </li>
          </ul>
        </li>

        <!-- Account Menu -->
        <li ngbDropdown class="nav-item" display="dynamic">
          <a class="nav-link dropdown-toggle d-flex align-items-center" ngbDropdownToggle id="account-menu" data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon [icon]="faUser" class="me-1"></fa-icon>
              <span jhiTranslate="global.menu.account.main">Account</span>
            </span>
            <span *ngIf="account?.imageUrl" class="d-flex align-items-center">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle me-1" alt="Avatar" />
              <span class="d-none d-md-inline">{{ account?.login }}</span>
            </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon [icon]="faWrench" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.account.settings">Settings</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon [icon]="faLock" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.account.password">Password</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon [icon]="faSignOutAlt" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.account.logout">Sign out</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon [icon]="faSignInAlt" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.account.login">Sign in</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a
                class="dropdown-item"
                routerLink="account/register"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="register"
              >
                <fa-icon [icon]="faUserPlus" [fixedWidth]="true" class="me-2"></fa-icon>
                <span jhiTranslate="global.menu.account.register">Register</span>
              </a>
            </li>

          
          
       
            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
