<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">الحسابات</h2>
        <div class="text-muted mt-1">Financial accounts management</div>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <a [routerLink]="['/accounts/money-movement']" class="btn btn-outline-primary">Money Movement</a>
          <a [routerLink]="['/accounts/exchange']" class="btn btn-outline-primary">Exchange</a>
          <a [routerLink]="['/accounts/receipt']" class="btn btn-outline-primary">Receipt</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Content will go here -->
</div>
