.card {
  margin-bottom: 1.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: none;
  border-radius: 0.5rem;

  .card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1.25rem;

    .card-title {
      margin-bottom: 0;
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  .card-body {
    padding: 1.25rem;
  }
}

strong {
  font-weight: 500;
}

p {
  margin-bottom: 0.75rem;
}

.mt-4 {
  margin-top: 2rem;
}
