<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="invoiceItem">
      <h2 data-cy="invoiceItemDetailsHeading"><span jhiTranslate="konsolCoreApp.invoiceItem.detail.title">Invoice Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.pk">Pk</span></dt>
        <dd>
          <span>{{ invoiceItem.pk }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.id">Id</span></dt>
        <dd>
          <span>{{ invoiceItem.id }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.unit">Unit</span></dt>
        <dd>
          <span>{{ invoiceItem.unit }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.unitPieces">Unit Pieces</span></dt>
        <dd>
          <span>{{ invoiceItem.unitPieces }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.userQty">User Qty</span></dt>
        <dd>
          <span>{{ invoiceItem.userQty }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.unitQtyIn">Unit Qty In</span></dt>
        <dd>
          <span>{{ invoiceItem.unitQtyIn }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.unitQtyOut">Unit Qty Out</span></dt>
        <dd>
          <span>{{ invoiceItem.unitQtyOut }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.unitCost">Unit Cost</span></dt>
        <dd>
          <span>{{ invoiceItem.unitCost }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.unitPrice">Unit Price</span></dt>
        <dd>
          <span>{{ invoiceItem.unitPrice }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.discountPer">Discount Per</span></dt>
        <dd>
          <span>{{ invoiceItem.discountPer }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.discount">Discount</span></dt>
        <dd>
          <span>{{ invoiceItem.discount }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.totalCost">Total Cost</span></dt>
        <dd>
          <span>{{ invoiceItem.totalCost }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.totalPrice">Total Price</span></dt>
        <dd>
          <span>{{ invoiceItem.totalPrice }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.qtyIn">Qty In</span></dt>
        <dd>
          <span>{{ invoiceItem.qtyIn }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.qtyOut">Qty Out</span></dt>
        <dd>
          <span>{{ invoiceItem.qtyOut }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.cost">Cost</span></dt>
        <dd>
          <span>{{ invoiceItem.cost }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.price">Price</span></dt>
        <dd>
          <span>{{ invoiceItem.price }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.netCost">Net Cost</span></dt>
        <dd>
          <span>{{ invoiceItem.netCost }}</span>
        </dd>
        <dt><span jhiTranslate="konsolCoreApp.invoiceItem.netPrice">Net Price</span></dt>
        <dd>
          <span>{{ invoiceItem.netPrice }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/invoice-item', invoiceItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
